.container-list-task {
    height: 400px;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-tasks {
    border: none;
    box-shadow: 0.5px 0.5px 4px  rgb(90, 89, 89);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    min-height: 50px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.content-tasks .button-completa{
    color: black;
    font-weight: bold;
    margin-left: 12px;
    cursor: pointer;
}
.content-tasks .button-completa img{
    width: 20px;
    height: 20px;
}
.content-tasks img {
    width: 20px;
}

.content-tasks button {
    width: 20px;
    background: none;
    margin-right: 8px;
    cursor: pointer;
}

.content-tasks div {
    width: 220px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 7px;
   
}
.content-tasks div p{
    font-weight: bold;
}

