.container-task{
    position: relative;
    width: 310px;
    height: 550px;
    background-color: rgb(252, 252, 252);
    border-radius:10px ;
    box-shadow: 1px 1px 10px rgb(119, 113, 206);
}
.container-task h2{
    color: rgb(6, 6, 6);
    text-align: center;
    padding-top: 20px;
}